* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space space-around;
  height: 88px;
  padding: 0 2rem;
}

nav a {
  margin: 0 2rem;
  /* color: white; */
  text-decoration: none;
}

header .nav_btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width:1024px){
    header .nav_btn{
        visibility: visible;
        opacity: 1;
    }
   
    header nav{
        position: fixed;
        top:0;
        left:0;
        height: 100%;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: blueviolet;
        transition: 1s;
        transform: translateY(-100vh);
    }
    
    header .responsive_nav{
        transform: none;
    }
}

