@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  font-family: "Neue Montreal";
  height: 100%;
  background-color: #f9f6f3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.49);
  height: 60px;
  width: 100vw;
  padding: 20px;
  align-items: center;
  z-index: 50000;
  position: fixed;
  top: 0;
  padding: 0px 100px 0px 100px;
  font-family: "Poppins", sans-serif;
}

.a1 {
  display: flex;
  color: white;
  gap: 60px;
  align-items: center;
}

.i1 {
  height: 50px;
  width: 100px;
}

.s1 {
  height: calc(100vh - 80px);
  max-width: 100vw;
  background-color: #f9f6f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.s1d1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  position: fixed;
}
.s1d1p1 {
  font-size: 1.5rem;
}

.s1d1p2 {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 9rem;
}

h1 {
  font-size: 1px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  width: 50%;
}

.i5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2em;
  width: 18px;
  height: 18px;
  background: red;
  border-radius: 100%;
  z-index: 100000;
}

.header {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100%;
  z-index: 2;
}

.letters {
  flex: 1;
  display: flex;
  text-transform: uppercase;
}

.letters > div {
  flex: 1;
  font-size: 18vw;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.website-content {
  position: fixed;
  top: 0%;
  width: 100%;
  min-height: 70vh;
  z-index: 0;
}

.img-holder {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  clip-path: polygon(37.5% 20%, 62.5% 20%, 62.5% 80%, 37.5% 80%);
  transform: rotate(30deg);
}

.about {
  position: relative;
  top: 0px;
  width: 100%;
  height: 110vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://i.ibb.co/0Fds0wh/background1.jpg") center center/cover;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.about1 {
  background: url("https://i.ibb.co/7S7cRJX/background2.jpg") center
    center/cover;
  height: 70vh;
  width: 78vw;
  display: flex;
  justify-content: center;
  gap: 5vw;
  align-items: center;
}

.about2d2 {
  height: 400px;
  width: 450px;
}

.i2 {
  height: 51vh;
  width: 25vw;
}

.circular-slider {
  position: relative;
  /* top: 0px; */
  width: 100%;
  height: 100vh;
  /* background: url("https://i.ibb.co/cNPF5NK/Screenshot-2024-01-30-190939.png")
    center center/cover; */
  background-color: #fff;
  z-index: 500;
  overflow: hidden;
}

.circular-slider-inner {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: url("https://i.ibb.co/cNPF5NK/Screenshot-2024-01-30-190939.png")
    center center/cover;
  z-index: 600;
}

.ms1d1p1 {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 140px;
  left: 34px;
  z-index: 100000;
}

.md1 {
  font-weight: 500;
  font-size: 52px;
  line-height: 72.8px;
  z-index: 99999;
}

.spaces {
  position: fixed;
  top: 249px;
  left: 150px;
  font-weight: 500;
  font-size: 52px;
  line-height: 72.8px;
  z-index: 88888888;
}

.w1 {
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
}
.icon {
  color: white;
  font-size: 25px;
  display: none;
}

.mobile-slider{
  width: 100vw;
  height: 100vh;
  background-color: #f9f6f3;
}

.mobile{
  display: none;
}
 
#main{
  position: relative;
max-width: 100vw;
height:100vh;
bottom: 1%;
/* background-color: #f2a0a0; */
}
#top{
  position: absolute;
  top:0%;
  width: 100%;
  height: 50vh;
  background-color: #212121;
}

#bottom{
  position: absolute;
  bottom:0%;
  width:100%;
  height:50vh;
 
}
#center{
  width:100%;
  height:200vh;
  background-color: white;
}

.mobile-strength{
  display: none;
}
.navbar-image{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
}
@media (max-width: 400px) {

  .navbar-image{
    min-width: 109px;
  }

  .mobile-strength{
    display: flex;
  }
  .laptop{
    display: none;
  }
  .about {
    position: relative;
    top: 0px;
    width: 100%;
    height: 140vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("https://i.ibb.co/0Fds0wh/background1.jpg") center center/cover;
    padding: 1em;
    display: flex;
    flex-direction: column;
  }
  .none{
    display: none;
  }
  .about1 {
    height: 110vh;
    width: 85vw;
  }
  .navbar {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.49);
    height: 60px;
    width: 100vw;
    align-items: center;
    z-index: 7;
    position: fixed;
    top: 0;
    gap: 10rem;
    padding: 0px 100px 0px 100px;
    font-family: "Poppins", sans-serif;
  }

  .icon {
    color: white;
    font-size: 25px;
    display: inline-block;
  }

  .a1 {
    display: none;
  }
  .s1d1p2 {
    font-size: 2.5rem;
    gap: 10px;
  }
  .s1d1p1 {
    font-size: 1rem;
  }
  .about1 {
    height: 120vh;
    width: 85vw;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
  }

  .i2 {
    height: 280px;
    width: 280px;
  }

  .navbar {
    height: 60px;
  }
  .mbox2 {
    min-height: 100vh;
    background-color: #f9f6f3;
  }

  .img-holder {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    clip-path: polygon(18.5% 48%, 79.5% 40%, 92.5% 72%, 32.5% 80%);
    transform: rotate(30deg);
  }

  .mobile{ 
    display: flex;
    flex-direction: column;
    background-color: #f9f6f3;
  }
  .sliderm{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .mobile-card{
    background: url("https://i.ibb.co/dLk8nrW/Photo-1.png") no-repeat center center/cover;
    height: 492.31px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .mobile-card1{
    background: url("https://i.ibb.co/rQVnqkN/Photo-2.png") no-repeat center center/cover;
    height:492.31px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .mobile-card2{
    background: url("https://i.ibb.co/x76KyJW/Photo-3.png") no-repeat center center/cover;
    height:492.31px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .mobile-card3{
    background: url("https://i.ibb.co/YDmpwyN/Photo-4.png") no-repeat center center/cover;
    height:492.31px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .mobile-card4{
    background: url("https://i.ibb.co/QpCWhdn/Photo-5.png") no-repeat center center/cover;
    height:492.31px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .mobile-card5{
    background: url("https://i.ibb.co/dt8Xwsr/Photo-6.png") no-repeat center center/cover;
    height:492.31px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .mobile-card-text{
    font-weight: 500;
    font-size:37px ;  
    color: #ffffff;
    line-height: 51.69px;
    width: 165px;
  }
  .mobile-card-button{
   height: 32.31px;
   width: 127.38px;
   padding:6.15px, 19.69px, 6.15px, 19.69px;
   border: 1px solid #ffffff;
   color: #FFFFFF;
   font-size: 12.31px;
   margin-top: 10px;
  }
  .bubu{
    transform: translate(33px, 64px);
  }

  .i89{
    transform: translateX(-9px);
  }
  #top{
    display: none;
  }
}
.i78{
  position: relative;
  left: -24px;
}
.hero-section{
  max-width: 100vw;
}
/* Circular Slider */

#slider_wrapper {
  position: relative;
  width: 100vw;
  height: 500vh;
  background-color: red;
}

.slider_section {
  height: 100vh;
  z-index: 2000;
  bottom: 0;
  position: relative;
  width: 100vw;
}

.wheel {
  position: relative;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300vw;
  height: 300vw;
  max-width: 2000px;
  max-height: 2000px;
  left: 50%;
  transform: translateX(-50%);
}

.wheel_card {
  position: absolute;
  top: 0;
  left: 0;
  width: 23vw;
  aspect-ratio: 2 / 3;
  filter: brightness(0.5);
}

#wheel_card_0 {
  filter: brightness(1);
}

.slider_img {
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

.overlay_on_slider {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1000;
}

.overlay_on_slider_right {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1000;
  font-size: xx-large;
}

.view_products {
  border: 1px solid white;
  padding: 4px 20px;
  margin-top: 20%;
  cursor: pointer;
}

.max_z {
  background-color: white;
  position: relative;
  max-width: 100vw;
}
 