@font-face {
    font-family: beautique-display;
    src: url("/font/BeautiqueDisplay-Black-BF63fd5fa82b67d.otf");
}

*{
    font-family : beautique-display;
    font-size: 120px;
    font-weight:500;
}