@font-face {
  font-family: beautique-display;
  src: url("/font/BeautiqueDisplay-Black-BF63fd5fa82b67d.otf");
}

.body-blog-details-page {
  overflow-x: hidden;
}
.blog-details-page {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 18vh;
}

.blog-details-page-heading {
  font-family: beautique-display;
  font-size: 57px;
  max-width: 823px;
  line-height: 66px;
  font-weight: 500;
  letter-spacing: -2px;
  text-align: start;
}

.blog-details-page-date {
  font-weight: 400;
  font-size: 20px;
  color: #e94d11;
  padding: 10px 0px;
  width: 53vw;
}

.blog-details-page-photo img {
  width: 813px;
  height: 503px;
}

.blog-details-page-para {
  max-width: 50vw;
  font-weight: 400;
  font-size:20px;
  color:#212121;
}

.blog-details-page-para-heading{
    font-weight: 700;
}

.blog-details-page-para-parts{
padding: 20px 0px;
}

@media(max-width:400px){

    .blog-details-page-heading {
        font-family: beautique-display;
        font-size: 34px;
        max-width: 823px;
        line-height: 38px;
        font-weight: 500;
        letter-spacing: -2px;
        text-align: start;
        padding: 0px 25px;
      }
    .blog-details-page-photo img{
        width: 301px;
        height: 165px;
    }
    .blog-details-page-date {
        font-weight: 400;
        font-size: 16px;
        color: #e94d11;
        padding: 10px 0px;
        width: 85vw;
      }
      .blog-details-page-para {
        max-width: 84vw;
        font-weight: 400;
        font-size: 14px;
        color: #212121;
        padding: 16px 0px;
      }
}
